.drop {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; }

.chip {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 15px;
  margin-right: 15px; }

.chip:focus {
  outline: none; }

.chip-white {
  background: white; }

.chip-red {
  background: red; }

.chip-yellow {
  background: yellow; }

.row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center; }

.hole {
  background: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 10px 15px 10px 15px; }

.hole-red {
  background: red; }

.hole-yellow {
  background: yellow; }

.hole-back {
  background: #000080; }

.restart {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center; }

.reset-button {
  font-size: 1.25em;
  font-weight: 700;
  font-family: "Rubik", sans-serif;
  color: #2a3439;
  cursor: pointer;
  margin-top: 36px;
  padding: 12px 24px 12px 24px;
  border: 2px solid #696969;
  border-radius: 6px;
  text-decoration: none !important; }

.reset-button:focus,
.reset-button:hover {
  background-color: #d3d3d3;
  box-shadow: 0 0 1.5pt 1.5pt #000080; }

.reset-button-blue {
  background-color: #89cff0; }

.reset-button-red {
  background-color: red; }

.reset-button-yellow {
  background-color: yellow; }
