.restart {
	@include flexbox();
}

.reset-button {
	font-size: 1.25em;
	font-weight: 700;
	font-family: $rubik;
	color: $gun-metal;
	cursor: pointer;
	margin-top: 36px;
	padding: 12px 24px 12px 24px;
	border: 2px solid $dim-gray;
	border-radius: 6px;
	text-decoration: none !important;
}

.reset-button:focus,
.reset-button:hover {
	background-color: $light-gray;
	box-shadow: 0 0 1.5pt 1.5pt $navy-blue;
}

.reset-button-blue {
	background-color: $baby-blue;
}

.reset-button-red {
	background-color: red;
}

.reset-button-yellow {
	background-color: yellow;
}
